 
 
 <div class="mockup"> 
    <h1>Bienvenido</h1>
        <form action="/iniciar-sesion" method="post">
         <input type="text" name="usuario" placeholder="Nombre de usuario" required>
            <br>
                <input type="password" name="contrasena" placeholder="Contraseña" required>
                     <button type="submit">Iniciar Sesión</button>
         </form>
</div>